@charset "UTF-8";

@font-face {
    font-family: "cz-font";
    src: url("../fonts/admin-font/admin-font.eot");
    src: url("../fonts/admin-font/admin-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/admin-font/admin-font.woff") format("woff"),
    url("../fonts/admin-font/admin-font.ttf") format("truetype"),
    url("../fonts/admin-font/admin-font.svg#cz-font") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]::before {
    content: attr(data-icon);
    font-family: "cz-font" !important;
    -webkit-font-smoothing: antialiased;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-transform: none !important;
}

[class^="cz-icon-"]::before,
[class*=" cz-icon-"]::before {
    font-family: "cz-font" !important;
    -webkit-font-smoothing: antialiased;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-transform: none !important;
}

#adminmenu #toplevel_page_componentz div.wp-menu-image::before {
    content: "\61";
    font-family: cz-font;
    margin-top: 1px;
}